<!DOCTYPE html>
<html lang="en">
    <meta charset="utf-8">
    <title>FIND ME ..</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <script src="https://kit.fontawesome.com/a9b4fa71fa.js" crossorigin="anonymous"></script>
    <style>

    </style>
 {% include 'header.html.twig' %}

<!--/ Intro Skew Star /-->
<div id="home" class="intro route bg-image" style="background-image: url({{asset("assets/img/intro-bg.jpg")}})">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
        <div class="table-cell">
            <div class="container">
                <!--<p class="display-6 color-d">Hello, world!</p>-->
                <h1 class="intro-title mb-4">FIND ME ... </h1>
                <p class="intro-subtitle"><span class="text-slider-items">Chercher une personne perdue ,Aider à retrouver les perdus...,Je sais pas quoi...</span><strong class="text-slider"></strong></p>
                <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
            </div>
        </div>
    </div>
</div>

<div>

</div>
    <div class="section-counter paralax-mf bg-image" style="background-image: url({{asset("assets/img/counters-bg.jpg")}})">
        <div class="overlay-mf"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-lg-3">
                    <div class="counter-box">
                        <div class="counter-ico">
                            <span class="ico-circle"><i class="fas fa-mail-bulk"></i></span>
                        </div>
                        <div class="counter-num">
                            <p class="counter">{{totalPubs}}</p>
                            <span class="counter-text">Nombre de publications</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-lg-3">
                    <div class="counter-box pt-4 pt-md-0">
                        <div class="counter-ico">
                            <span class="ico-circle"><i class="fas fa-hands-helping"></i></span>
                        </div>
                        <div class="counter-num">
                            <p class="counter">{{ totalPubsWithStatusR }}</p>
                            <span class="counter-text">Nombre de personne trouvé</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-lg-3">
                    <div class="counter-box pt-4 pt-md-0">
                        <div class="counter-ico">
                            <span class="ico-circle"><i class="fas fa-users"></i></span>
                        </div>
                        <div class="counter-num">
                            <p class="counter">{{ totalut }}</p>
                            <span class="counter-text">Nombre d'utilisateur Total</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-lg-3">
                    <div class="counter-box pt-4 pt-md-0">
                        <div class="counter-ico">
                            <span class="ico-circle"><i class="fas fa-address-book"></i></span>
                        </div>
                        <div class="counter-num">
                            <p class="counter">{{ commentsTotal }}</p>
                            <span class="counter-text">Nombre de commentaires totale</span>
                        </div>
                    </div>
                </div>
            </div>
            <footer>
                <div class="container overlay" style="margin-top: 240px ">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="copyright-box">
                                <p class="copyright">&copy; Copyright <strong>FindMe</strong>. All Rights Reserved</p>
                                <div class="credits">

                                    Designed by <a href="#">GALECHTECH</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>

        </div>


    </div>



</body>
</html>
