<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<!DOCTYPE html>
<html>
<head>
{#    <script src='//production-assets.codepen.io/assets/editor/live/console_runner-079c09a0e3b9ff743e39ee2d5637b9216b3545af0de366d4b9aad9dc87e26bfd.js'></script><script src='//production-assets.codepen.io/assets/editor/live/events_runner-73716630c22bbc8cff4bd0f07b135f00a0bdc5d14629260c3ec49e5606f98fdd.js'></script><script src='//production-assets.codepen.io/assets/editor/live/css_live_reload_init-2c0dc5167d60a5af3ee189d570b1835129687ea2a61bee3513dee3a50c115a77.js'></script><meta charset='UTF-8'><meta name="robots" content="noindex"><link rel="shortcut icon" type="image/x-icon" href="//production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" /><link rel="mask-icon" type="" href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" /><link rel="canonical" href="https://codepen.io/emilcarlsson/pen/ZOQZaV?limit=all&page=74&q=contact+" />#}
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
    <script src="https://use.typekit.net/hoy3lrg.js"></script>
{#    <script>try{Typekit.load({ async: true });}catch(e){}</script>#}
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'><link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
    <style>
        #frame {
            width: 95%;
            min-width: 360px;
            max-width: 1000px;
            height: 103vh;
            min-height: 300px;
            max-height: 800px;
            background: #E6EAEA;
            margin-left: 170px;
            /*top: 100px;*/
        }
        @media screen and (max-width: 360px) {
            #frame {
                width: 100%;
                height: 120vh;
            }
        }
      #frame .content {
            margin-left:170px;
            width: 100%;
            height: 90%;
            overflow: hidden;
            position: relative;
        }
        @media screen and (max-width: 735px) {
            #frame .content {
                width: calc(100% - 58px);
                min-width: 300px !important;
            }
        }
        @media screen and (min-width: 900px) {
            #frame .content {
                width: calc(100% - 340px);
            }
        }
        #frame .content .contact-profile {
            width: 100%;
            height: 60px;
            line-height: 60px;
            background: #f5f5f5;
        }
        #frame .content .contact-profile img {
            width: 40px;
            border-radius: 50%;
            float: left;
            margin: 9px 12px 0 9px;
        }
        #frame .content .contact-profile p {
            float: left;
        }
        #frame .content .contact-profile .social-media {
            float: right;
        }
        #frame .content .contact-profile .social-media i {
            margin-left: 14px;
            cursor: pointer;
        }
        #frame .content .contact-profile .social-media i:nth-last-child(1) {
            margin-right: 20px;
        }
        #frame .content .contact-profile .social-media i:hover {
            color: #435f7a;
        }
        #frame .content .messages {
            height: auto;
            min-height: calc(100% - 93px);
            max-height: calc(100% - 143px);
            overflow-y: -moz-scrollbars-vertical;
            scroll-padding-bottom: auto;

            /*scroll-snap-type: y proximity;*/
            overflow-x: hidden;
        }
        @media screen and (max-width: 735px) {
            #frame .content .messages {
                max-height: calc(100% - 105px);
            }
        }
        #frame .content .messages::-webkit-scrollbar {
            width: 8px;
            background: transparent;
        }
        #frame .content .messages::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.3);
        }
        #frame .content .messages ul li {
            display: inline-block;
            clear: both;
            float: left;
            margin: 15px 15px 5px 15px;
            width: calc(100% - 25px);
            font-size: 0.9em;
        }
        #frame .content .messages ul li:nth-last-child(1) {
            margin-bottom: 20px;
        }
        #frame .content .messages ul li.sent img {
            margin: 6px 8px 0 0;
        }
        #frame .content .messages ul li.sent p {
            background: #435f7a;
            color: #f5f5f5;
        }
        #frame .content .messages ul li.replies img {
            float: right;
            margin: 6px 0 0 8px;
        }
        #frame .content .messages ul li.replies p {
            background: #f5f5f5;
            float: right;
        }
        #frame .content .messages ul li img {
            width: 22px;
            border-radius: 50%;
            float: left;
        }
        #frame .content .messages ul li p {
            display: inline-block;
            padding: 10px 15px;
            border-radius: 20px;
            max-width: 205px;
            line-height: 130%;
        }
        /*#frame .content .messages ul li span {*/
        /*    display: inline-block;*/
        /*    font-size: 10px;*/
        /*    border-radius: 20px;*/
        /*    max-width: 205px;*/
        /*    margin-top: -60px;*/
        /*    margin-left: 10px;*/
        /*}*/
        @media screen and (min-width: 735px) {
            #frame .content .messages ul li p {
                max-width: 300px;
            }
        }
        #frame .content .message-input {
            /*position: absolute;*/
            /*bottom: 0;*/
            /*padding:40px;*/
            /*width: 100%;*/
            /*z-index: 99;*/
            position: absolute;
            bottom: 0;
            width: 100%;
            z-index: 99;
        }
        #frame .content .message-input .wrap {
            position: relative;
        }
        #frame .content .message-input .wrap input {
            font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
            float: left;
            border: none;
            width: calc(100% - 90px);
            padding: 11px 32px 10px 17px;
            font-size: 15px;
            color: #32465a;
        }
        @media screen and (max-width: 735px) {
            #frame .content .message-input .wrap input {
                padding: 15px 32px 16px 8px;
            }
        }
        #frame .content .message-input .wrap input:focus {
            outline: none;
        }
        #frame .content .message-input .wrap .attachment {
            position: absolute;
            right: 60px;
            z-index: 4;
            margin-top: 10px;
            font-size: 1.1em;
            color: #435f7a;
            opacity: .5;
            cursor: pointer;
        }
        @media screen and (max-width: 735px) {
            #frame .content .message-input .wrap .attachment {
                margin-top: 17px;
                right: 65px;
            }
        }
        #frame .content .message-input .wrap .attachment:hover {
            opacity: 1;
        }
        #frame .content .message-input .wrap button {
            float: right;
            border: none;
            width: 50px;
            padding: 12px 0;
            cursor: pointer;
            background: #32465a;
            color: #f5f5f5;
        }
        @media screen and (max-width: 735px) {
            #frame .content .message-input .wrap button {
                padding: 16px 0;
            }
        }
        #frame .content .message-input .wrap button:hover {
            background: #435f7a;
        }
        #frame .content .message-input .wrap button:focus {
            outline: none;
        }
        #loadmsg {
            overflow-anchor: none;
        }
        #anchor {
            /* allow the final child to be selected as an anchor node */
            overflow-anchor: auto;

            /* anchor nodes are required to have non-zero area */
            height: 1px;
        }
    </style>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

</head>
<body  style="background-color: #E4F3F5">
{% include 'header.html.twig' %}
<br><br><br><br><br><br>
<h6 style="text-align: center;color: lightblue"><i class="fas fa-exclamation-circle"></i> Si vous avez des questions ou besoin d'aide , vous pouvez contacter un admin FINDME qu'il vous repondra le plutôt possible !</h6>

<div id="frame">

    <div class="content">
        <div class="contact-profile" >
            <img src="{{ asset('assets/images/usericon.png') }}" alt="" />
            <p style="font-weight: bold;color: #32465a">Conversation avec Admin</p>
        </div>
        <div class="messages" id="loadmsg" style=" overflow-y: -moz-scrollbars-vertical;scroll-margin-bottom:inherit;
            scroll-padding-bottom: auto;width: 640px">
            <ul id="anchor">
                {% for msg in messages|sort((a, b) => a.dateMess <=> b.dateMess) %}
{#                    <td>{{ dump(msg.dateMess,msg.message) }}</td>#}
                {%  if msg.utilisateur==null %}
                    <li class="replies">
                          <img src="{{ asset('assets/images/usericon.png') }}" alt="" style="margin-right: 0px"  />
                          <h6 style="font-size: 10px;margin-left: 510px">{{ msg.admin.nom }}</h6>
                          <p>{{ msg.message }}</p>&nbsp;
                        &nbsp;<span  title="{{ msg.dateMess|date('d/m/Y H:i') }}" style="font-size: 10px;float: right;margin-top: 13px;margin-right: 3px">&nbsp; {{ msg.dateMess|ago }}</span>
                     </li>
                {% else %}
                     <li class="sent">
                         <img src="{{ asset('assets/images/usericon.png') }}" alt="" />
                         <h6 style="font-size: 10px">Vous</h6>
                         <p>{{ msg.message }}</p>
                         <span style="font-size: 10px;top: -25px;margin-left:0px" title="{{ msg.dateMess|date('d/m/Y H:i') }}">{{ msg.dateMess|ago }}</span>
                     </li>
                {% endif %}
                {% endfor %}
            </ul>
            <br>
        </div>
        <br>
    </div>
    <div class="message-input" style="margin-top: -120px;margin-left:210px">
        <br><br>
        <div class="wrap">
            <form method="post" action="{{ path('newmsg') }}" id="form" name="form" class="msgform">
                <i class="far fa-comment-dots" style="font-size:25px"></i><input type="text" required autocomplete="off"  placeholder="Ecrire votre message..."  onclick="onselect()" name="msg" class="msg" id="msg"  style="margin-top: 60px;width: 500px;outline: none;user-focus-pointer: none;padding:15px;background-color: transparent;border:none;border-bottom: 1px solid #32465a">
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    function onselect(){
        $('#msg').bind('focus',  false);
    }
    var chatWindow = document.getElementById('loadmsg');
    console.log(chatWindow);

    window.onload=function(){
        var box = document.getElementById('loadmsg');
        box.scrollTop = box.scrollHeight;

    };

    function autoRefresh_div() {
        $("#anchor").load(document.URL +  ' #anchor',function () {
            var box = document.getElementById('loadmsg');
                box.scrollTop = box.scrollHeight;
        });
    }

    setInterval('autoRefresh_div()', 8000);

    function addMsg(event){
        event.preventDefault();
        const url = this.action;
        console.log(url);
        var texte= this.querySelector('.texte');
        console.log(texte);
        let data = new FormData(this);
        axios.post(url,data).then(function(response){
            console.log(response.data);
            $('<li class="sent"><h6 style="font-size: 10px">Vous</h6><p>' + response.data.message + '</p><br><span style="font-size: 10px;">'+response.data.date+'</span>\n' + '</li>').appendTo($('.messages ul'));
            $('.message-input input').val(null);
            // $("#loadmsg").animate({ scrollBottom: $(document).height() }, 1000);
            $('#anchor').load(document.URL +  ' #anchor',function () {
                var box = document.getElementById('loadmsg');
                box.scrollTop = box.scrollHeight;
            });

        }).catch(function(error){
            console.log(error)
        })
    }
    document.querySelectorAll('form.msgform').forEach(function (link) {
        link.addEventListener('submit',addMsg)
    })
</script>
<script>
    // $("#profile-img").click(function() {
    //     $("#status-options").toggleClass("active");
    // });
    //
    // $(".expand-button").click(function() {
    //     $("#profile").toggleClass("expanded");
    //     $("#contacts").toggleClass("expanded");
    // });
    //
    // $("#status-options ul li").click(function() {
    //     $("#profile-img").removeClass();
    //     $("#status-online").removeClass("active");
    //     $("#status-away").removeClass("active");
    //     $("#status-busy").removeClass("active");
    //     $("#status-offline").removeClass("active");
    //     $(this).addClass("active");
    //
    //     if($("#status-online").hasClass("active")) {
    //         $("#profile-img").addClass("online");
    //     } else if ($("#status-away").hasClass("active")) {
    //         $("#profile-img").addClass("away");
    //     } else if ($("#status-busy").hasClass("active")) {
    //         $("#profile-img").addClass("busy");
    //     } else if ($("#status-offline").hasClass("active")) {
    //         $("#profile-img").addClass("offline");
    //     } else {
    //         $("#profile-img").removeClass();
    //     };
    //
    //     $("#status-options").removeClass("active");
    // });
    //
    // function newMessage() {
    //     message = $(".message-input input").val();
    //     if($.trim(message) === '') {
    //         return false;
    //     }
    //     $('<li class="sent"><p>' + message + '</p></li>').appendTo($('.messages ul'));
    //     $('.message-input input').val(null);
    //     $('.contact.active .preview').html('<span>You: </span>' + message);
    //     $(".messages").animate({ scrollTop: $(document).height() }, "fast");
    // };
    //
    // $('.submit').click(function() {
    //     newMessage();
    // });
    //
    // $(window).on('keydown', function(e) {
    //     if (e.which === 13) {
    //         newMessage();
    //         return false;
    //     }
    // });
    //# sourceURL=pen.js
</script>
<br><br><br><br><br>
</body>
</html>
